<div th:fragment="vb64modal">
<div class="modal fade" id="viewTranModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-info" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Transaction Results</h4>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				<p>
				<div class="card-header">
					Transaction Details <small> <code> . Transaction ID:
						</code>
					</small>
				</div>
				<input id="transactionId" type="text" class="form-control"
					placeholder="-" />
				<div class="card-body">
					<form action="" method="post" class="form-horizontal">
						<div class="form-group row">
							<div class="col-5">
								<input type="text" class="form-control"
									placeholder="External Tran No:" />
							</div>
							<div class="col-7">
								<input id="externalTransactionRefNo" type="text"
									class="form-control" placeholder="-" readonly="readonly" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-5">
								<input type="text" class="form-control"
									placeholder="Transaction Status:" />
							</div>
							<div class="col-7">
								<input id="transactionStatus" type="text" class="form-control"
									placeholder="-" readonly="readonly" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-5">
								<input type="text" class="form-control"
									placeholder="Process Phase" />
							</div>
							<div class="col-7">
								<input id="processPhase" type="text" class="form-control"
									placeholder="-" readonly="readonly" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-5">
								<input type="text" class="form-control"
									placeholder="Process Status" />
							</div>
							<div class="col-7">
								<input id="processStatus" type="text" class="form-control"
									placeholder="-" readonly="readonly" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-5">
								<input type="text" class="form-control"
									placeholder="Process Success Reason" />
							</div>
							<div class="col-7">
								<input id="processSuccessReason" type="text" class="form-control"
									placeholder="-" readonly="readonly" />
							</div>
						</div>
						<div class="form-group row">
							<div class="col-5">
								<input type="text" class="form-control"
									placeholder="Process Failure Reason" />
							</div>
							<div class="col-7">
								<input id="processFailureReason" type="text" class="form-control"
									placeholder="-" readonly="readonly" />
							</div>
						</div>
						<div class="form-group row">
											<div class="col-5">
											<input  type="text"
													class="form-control" placeholder="Exception log" />
											</div>
											<div class="col-7">
												<textarea id="vb64_exceptionLog" 
													class="form-control"  ></textarea>
											</div>
										</div>
						<div class="form-group row hideDiv">
							<div class="col-5">
								<input type="text" class="form-control"
									placeholder="Total Records:" />
							</div>
							<div class="col-7">
								<input id="totalRecords" type="text" class="form-control"
									placeholder="-" />
							</div>
						</div>
						<div class="form-group row hideDiv">
							<div class="col-5">
								<input type="text" class="form-control"
									placeholder="Success Records:" />
							</div>
							<div class="col-7">
								<input id="totalSuccessRecords" type="text" class="form-control"
									placeholder="-" />
							</div>
						</div>
						<div class="form-group row hideDiv">
							<div class="col-5">
								<input type="text" class="form-control"
									placeholder="Error Records:" />
							</div>
							<div class="col-7">
								<input id="totalErrorRecords" type="text" class="form-control"
									placeholder="-" />
							</div>
						</div>
						<input id="successFilePath" type="hidden" class="form-control"
							placeholder="-" /> <input id="errorFilePath" type="hidden"
							class="form-control" placeholder="-" /> <input
							id="uploadFilePath" type="hidden" class="form-control"
							placeholder="-" />
					</form>
				</div>
				<div class="card-footer">
					<button type="button" id="errorFileDownload"
						class="btn btn-sm btn-danger">Download Error File</button>
					<button type="button" id="successFileDownload"
						class="btn btn-sm btn-primary">Download Success File</button>
					<button type="button" id="uploadFileDownload"
						class="btn btn-sm btn-success">Download Upload File</button>
					<a id="hiddenAnchor" target="_blank"></a>
				</div>
				</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
			</div>
		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
</div>

