<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="description"
	content="Prodian Robo - Robotic Process Automation" />
<meta name="author" content="Dominic D Prabhu" />
<meta name="keyword"
	content="Bootstrap,Admin,Template,Open,Source,AngularJS,Angular,Angular2,Angular 2,Angular4,Angular 4,jQuery,CSS,HTML,RWD,Dashboard,React,React.js,Vue,Vue.js" />
<link rel="shortcut icon" href="img/favicon.png" />
<title>Prodian Robo - Dashboard</title>

<!-- Icons -->
<link href="vendors/css/font-awesome.min.css" rel="stylesheet" />
<link href="vendors/css/simple-line-icons.min.css" rel="stylesheet" />

<!-- Main styles for this application -->
<link href="css/style.css" rel="stylesheet" />
<!-- Styles required by this views -->

<link href="css/toastr.min.css" rel="stylesheet" />

</head>

<body
	class="app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden">
	<header class="app-header navbar">
		<button
			class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto"
			type="button">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#"></a>
		<button class="navbar-toggler sidebar-toggler d-md-down-none"
			type="button">
			<span class="navbar-toggler-icon"></span>
		</button>

		<ul class="nav navbar-nav d-md-down-none">
			<li class="nav-item px-3"><a class="nav-link"
				th:href="@{/dashboard}">Dashboard</a></li>
			<li class="nav-item px-3"><a class="nav-link"
				th:href="@{/users}">Users</a></li>
			<li class="nav-item px-3"><a class="nav-link" href="#">Settings</a>
			</li>
		</ul>
		<ul class="nav navbar-nav ml-auto">
			<li class="nav-item d-md-down-none"><a class="nav-link" href="#"><i
					class="icon-bell"></i><span class="badge badge-pill badge-danger">0</span></a>
			</li>
			<li class="nav-item d-md-down-none"><a class="nav-link" href="#"><i
					class="icon-list"></i></a></li>
			<li class="nav-item d-md-down-none"><a class="nav-link" href="#"><i
					class="icon-location-pin"></i></a></li>
			<li class="nav-item dropdown"><a class="nav-link"
				data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
				aria-expanded="false"> <img src="img/avatars/6.jpg"
					class="img-avatar" alt="http://prodian.co.in" />
			</a>
				<div class="dropdown-menu dropdown-menu-right">
					<div class="dropdown-header text-center">
						<strong>Account</strong>
					</div>
					<a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i>
						Updates<span class="badge badge-info">0</span></a>
					<div class="dropdown-header text-center">
						<strong>Settings</strong>
					</div>
					<a class="dropdown-item" href="#"><i class="fa fa-user"></i>
						Profile</a> <a class="dropdown-item" href="#"><i
						class="fa fa-wrench"></i> Settings</a>
					<div class="divider"></div>
					<a class="dropdown-item" th:href="@{/users}"><i
						class="fa fa-shield"></i> Users</a> <a class="dropdown-item"
						th:href="@{/logout}"><i class="fa fa-lock"></i> Logout</a>
				</div></li>
		</ul>
		<button class="navbar-toggler aside-menu-toggler" type="button">
			<span class="navbar-toggler-icon"></span>
		</button>

	</header>
	<div id="pageLoader" style="display: none;"></div>
	<div class="app-body">
		<div class="sidebar">
			<nav class="sidebar-nav">
				<ul class="nav">
					<li class="nav-title">Dashboard</li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/dashboard}"><i class="icon-speedometer"></i>
							Dashboard <span class="badge badge-primary">NEW</span></a></li>

					<li class="nav-title">Robo UI</li>
					<li class="nav-item nav-dropdown"><a
						class="nav-link nav-dropdown-toggle" href="#"><i
							class="icon-settings"></i>Actions</a>
						<ul class="nav-dropdown-items">
							<li class="nav-item"><a class="nav-link"
								th:href="@{/businessprocess}"><i
									class="fa fa-gears fa-lg mt-4"></i>Transaction Details</a></li>
							<li class="nav-item"><a class="nav-link" href="#"
								th:href="@{/emailconfig}"><i
									class="fa fa-envelope-open fa-lg mt-4"></i>Email Configuration</a></li>
									<li class="nav-item"><a class="nav-link" href="#"
								th:href="@{/applicationConfig}"><i
									class="fa icon-globe fa-lg mt-4"></i>Application Configuration</a></li>
									<li class="nav-item"><a class="nav-link" href="#"
								th:href="@{/folderConfig}"><i
									class="fa fa-folder-open fa-lg mt-4"></i>Folder Configuration</a></li>
									<li class="nav-item"><a class="nav-link" href="#"
								th:href="@{/policyExtraction}"><i
									class="fa fa-download fa-lg mt-4"></i>Policy Extraction</a></li>
									<li class="nav-item"><a class="nav-link" href="#"
								th:href="@{/firstgenPolicyExtraction}"><i
									class="fa fa-download fa-lg mt-4"></i>XGEN Policy Extraction</a></li>
							<!-- <li class="nav-item"><a class="nav-link" href="#"
								th:href="@{/fileupload}"><i class="fa fa-file fa-lg mt-4"></i>File
									Upload</a></li> -->
									<li class="nav-item"><a class="nav-link" href="#"
								th:href="@{/agentIncentiveCalculation}"><i class="fa fa-file fa-lg mt-4"></i>Incentive Calculation
									</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link nav-link-danger"
						th:href="${@environment.getProperty('control.tower.hawtio.URL')}" target="_top"><i
							class="icon-layers"></i>Control Tower</a></li>
				</ul>
			</nav>
		</div>

		<!-- Main content -->
		<main class="main"> <!-- Breadcrumb -->
		<ol class="breadcrumb">
			<li class="breadcrumb-item">Home</li>
			<li class="breadcrumb-item">Admin</li>
			<li class="breadcrumb-item active">Dashboard</li>

			<!-- Breadcrumb Menu-->
			<li class="breadcrumb-menu d-md-down-none">
				<div class="btn-group" role="group" aria-label="Button group">
					<a class="btn" href="#"><i class="icon-speech"></i></a> <a
						class="btn" th:href="@{/dashboard}"><i class="icon-graph"></i>
						&nbsp;Dashboard</a> <a class="btn" href="#"><i
						class="icon-settings"></i> &nbsp;Settings</a>
				</div>
			</li>
		</ol>

		<div class="container-fluid">

			<div class="animated fadeIn">
<!-- 				<div class="row">
					<div class="col-sm-6 col-lg-3">
						<div class="card text-white bg-primary">
							<div class="card-body pb-0">
								<div class="btn-group float-right">
									<button type="button"
										class="btn btn-transparent dropdown-toggle p-0"
										data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">
										<i class="icon-settings"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#">Action</a>
									</div>
								</div>
								<h4 class="mb-0" th:text="${totalProcesses}"></h4>
								<p>Total Processes</p>
							</div>
							<div class="chart-wrapper px-3" style="height: 70px;">
								<canvas id="card-chart1" class="chart" height="70"></canvas>
							</div>
						</div>
					</div>
					/.col

					<div class="col-sm-6 col-lg-3">
						<div class="card text-white bg-info">
							<div class="card-body pb-0">
								<button type="button"
									class="btn btn-transparent p-0 float-right">
									<i class="icon-location-pin"></i>
								</button>
								<h4 class="mb-0" th:text="${runningProcesses}"></h4>
								<p>Running Processes</p>
							</div>
							<div class="chart-wrapper px-3" style="height: 70px;">
								<canvas id="card-chart2" class="chart" height="70"></canvas>
							</div>
						</div>
					</div>
					/.col

					<div class="col-sm-6 col-lg-3">
						<div class="card text-white bg-warning">
							<div class="card-body pb-0">
								<div class="btn-group float-right">
									<button type="button"
										class="btn btn-transparent dropdown-toggle p-0"
										data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">
										<i class="icon-settings"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#">Action</a>
									</div>
								</div>
								<h4 class="mb-0" th:text="${pausedProcesses}"></h4>
								<p>Paused</p>
							</div>
							<div class="chart-wrapper" style="height: 70px;">
								<canvas id="card-chart3" class="chart" height="70"></canvas>
							</div>
						</div>
					</div>
					/.col

					<div class="col-sm-6 col-lg-3">
						<div class="card text-white bg-danger">
							<div class="card-body pb-0">
								<div class="btn-group float-right">
									<button type="button"
										class="btn btn-transparent dropdown-toggle p-0"
										data-toggle="dropdown" aria-haspopup="true"
										aria-expanded="false">
										<i class="icon-settings"></i>
									</button>
									<div class="dropdown-menu dropdown-menu-right">
										<a class="dropdown-item" href="#">Action</a>
									</div>
								</div>
								<h4 class="mb-0" th:text="${stoppedProcesses}"></h4>
								<p>Stopped Processes</p>
							</div>
							<div class="chart-wrapper px-3" style="height: 70px;">
								<canvas id="card-chart4" class="chart" height="70"></canvas>
							</div>
						</div>
					</div>
					/.col
				</div> -->
				<!--/.row-->
				
				<div class="row">
				<div class="col-sm-12">
								<div class="form-group">
									<label class="col-md-1 col-form-label" for="select1">Type</label>
									<select style="float: left;" id="dashboardType" name="dashboardType" class="col-md-9 form-control">
									<option value="1">Year wise</option>
									<option value="2">Date wise</option>
									</select>
								</div>
						</div>
				</div>
				<br/>
				
				<div class="row yearOrMonthDBorad">
				<div class="col-sm-12">
								<div class="form-group">
									<label class="col-md-1 col-form-label" for="select1">Year</label>
									<select style="float: left;" id="dashboardStatusYear" name="dashboardStatusYear" class="col-md-9 form-control">
									<option value="0">Select Year</option>
									</select>
									<img src="img/refresh_new.png" style="width:3%;cursor:pointer" id="refrshDashboard" class="img-avatar"
											alt="refresh" />
								</div>
						</div>
				</div>
				<div class="row yearOrMonthDBorad" id="barChart1" style="display: none;background-color: #fff;">
				<!-- 	<div > -->
							<!-- <div class="carPolicyBar1"> -->
								<canvas id="carPolicy_status"></canvas>
							<!-- </div> -->
							<!-- </div> -->
				</div>
				
				<div class="row yearOrMonthDBorad" id="barChart5" style="display: none;background-color: #fff;">
								<canvas id="vir_status"></canvas>
				</div>
				
				<div class="row yearOrMonthDBorad" id="barChart3" style="display: none;background-color: #fff;">
								<canvas id="gridAutomation_status"></canvas>
				</div>
				
				<div class="row yearOrMonthDBorad" id="barChart2" style="display: none;background-color: #fff;">
							<canvas id="xgenPolicy_status"></canvas>
				
				</div>
				
				<div class="row yearOrMonthDBorad" id="lineChart1" style="display: none;background-color: #fff;">
							<canvas id="xgenGL_status"></canvas>
				
				</div>
				<div class="row dateDBoard">
				<div class="col-sm-12">
								<div class="form-group">
									<label class="col-md-1 col-form-label" for="select1">Date</label>
									<!-- <select style="float: left;" id="dashboardStatusYear" name="dashboardStatusYear" class="col-md-9 form-control">
									<option value="0">Select Year</option>
									</select> -->
									<input style="float: left;" type="textbox" id="policyPdfMailRetriggerDate" class="col-md-9 form-control" placeholder="dd/mm/yyyy" />
									
									<input style="cursor:pointer" id="policyPdfMailRetriggerSubmit" type="button" value='submit' />
									
									<!-- <img src="img/refresh_new.png" style="width:3%;cursor:pointer" id="refrshDashboard" class="img-avatar"
											alt="refresh" /> -->
								</div>
						</div>
				</div>
				<div class="row dateDBoard" id="barChart4" style="display: none;background-color: #fff;">
							<canvas id="policyPdfMailTrigger_status"></canvas>
				
				</div>
				<div class="row" style="background-color: #ffff;">
    <div class="col-sm-12" style="height: 25px;">
    </div>
</div>
				<div class="row" style="background-color: #ffff">
				<div class="col-sm-12" style="text-align: center;font-size: 1.5em;">
					<b><label>Incentive Calculation Status</label></b>
					</div>
				</div>
				
				<div class="row" style="background-color: #ffff;">
					
				</div>
				
				<div class="row" style="background-color: #ffff;color:#898989">
					<div class="col-sm-2">
									<div class="form-group">
										<b><strong><label class="col-md-1 col-form-label" for="select1">Jan/<span class="yearSpan"></span></label></strong></b>
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<b><strong><label class="col-md-1 col-form-label" for="select1">Feb/<span class="yearSpan"></span></label></strong></b>
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<b><strong><label class="col-md-1 col-form-label" for="select1">Mar/<span class="yearSpan"></span></label></strong></b>
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<b><strong><label class="col-md-1 col-form-label" for="select1">Apr/<span class="yearSpan"></span></label></strong></b>
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<b><strong><label class="col-md-1 col-form-label" for="select1">May/<span class="yearSpan"></span></label></strong></b>
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<b><strong><label class="col-md-1 col-form-label" for="select1">Jun/<span class="yearSpan"></span></label></strong></b>
									</div>
					</div>
				</div>
				
				<div class="row" style="background-color: #ffff;">
					<div class="col-sm-2">
									<div class="form-group">
										<img src="img/pending_status.PNG"  id="month_01" class="img-avatar"
											alt="status" />
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<img src="img/pending_status.PNG"  id="month_02"  class="img-avatar"
											alt="status" />
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<img src="img/pending_status.PNG"  id="month_03"   class="img-avatar"
											alt="status" />
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<img src="img/pending_status.PNG"  id="month_04" class="img-avatar"
											alt="status" />
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<img src="img/pending_status.PNG"  id="month_05"  class="img-avatar"
											alt="status" />
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<img src="img/pending_status.PNG"  id="month_06" class="img-avatar"
											alt="status" />
									</div>
					</div>
				</div>
				
				
				<div class="row" style="background-color: #ffff;color:#898989">
					<div class="col-sm-2">
									<div class="form-group">
										<b><strong><label class="col-md-1 col-form-label" for="select1">Jul/<span class="yearSpan"></span></label></strong></b>
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<b><strong><label class="col-md-1 col-form-label" for="select1">Aug/<span class="yearSpan"></span></label></strong></b>
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<b><strong><label class="col-md-1 col-form-label" for="select1">Sep/<span class="yearSpan"></span></label></strong></b>
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<b><strong><label class="col-md-1 col-form-label" for="select1">Oct/<span class="yearSpan"></span></label></strong></b>
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<b><strong><label class="col-md-1 col-form-label" for="select1">Nov/<span class="yearSpan"></span></label></strong></b>
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<b><strong><label class="col-md-1 col-form-label" for="select1">Dec/<span class="yearSpan"></span></label></strong></b>
									</div>
					</div>
				</div>
				
				<div class="row" style="background-color: #ffff;">
					<div class="col-sm-2">
									<div class="form-group">
										<img src="img/pending_status.PNG"  id="month_07" class="img-avatar"
											alt="status" />
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<img src="img/pending_status.PNG"  id="month_08"  class="img-avatar"
											alt="status" />
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<img src="img/pending_status.PNG"  id="month_09"  class="img-avatar"
											alt="status" />
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<img src="img/pending_status.PNG"  id="month_10" class="img-avatar"
											alt="status" />
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<img src="img/pending_status.PNG"  id="month_11"  class="img-avatar"
											alt="status" />
									</div>
					</div>
					<div class="col-sm-2">
									<div class="form-group">
										<img src="img/pending_status.PNG" id="month_12"  class="img-avatar"
											alt="status" />
									</div>
					</div>
				</div>
				
				<div class="row" style="background-color: #ffff;">
    <div class="col-sm-12" style="height: 25px;">
    </div>
</div>
				
				<div class="row">
					<table id="tableDashboard"
						class="table table-responsive-sm table-hover table-outline mb-0">
						<thead class="thead-light">
							<tr>
								<th class="text-center"><i class="icon-people"></i></th>
								<th>Process Name</th>
								<th>Process State</th>
								<th class="text-center">Process Description</th>
								<th>Process Status</th>
								<th>Activity</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${processlist}">
								<td class="text-center">
									<div class="avatar">
										<img src="img/avatars/6.jpg" class="img-avatar"
											alt="admin@bootstrapmaster.com" /> <span
											class="avatar-status badge-success"></span>
									</div>
								</td>
								<td>
									<div th:text="${item.processName}"></div>
									<div class="small text-muted">
										<span th:text="${item.processStatus}"></span> | Process ID
									</div>
								</td>
								<td>
									<div class="card-body">
										<label class="switch switch-text switch-pill switch-success">
											<input id="processState" name="processState" type="checkbox"
											class="switch-input" th:checked="${item.processState}"
											th:value="${item.processName}" /> <span class="switch-label"
											data-on="On" data-off="Off"></span> <span
											class="switch-handle"></span>
										</label>
									</div>
								</td>
								<td class="text-center" th:text="${item.processDesc}"></td>
								<td><strong th:text="${item.processStatus}"></strong></td>
								<td>
									<div class="small text-muted">Uptime</div> <span
									class="badge badge-success"
									th:if="${item.processStatus}=='Running'">Active</span> <span
									class="badge badge-danger"
									th:if="${item.processStatus}=='Stopped'">Stopped</span> <span
									class="badge badge-secondary"
									th:if="${item.processStatus}=='Unknown'">Unknown</span>
									<div th:text="${item.upTime}"></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- /.conainer-fluid --> </main>
	</div>

	<footer class="app-footer">
		<span>Prodian Robo © 2017 Copyrights.</span> <span class="ml-auto">Powered
			by <a href="http://prodian.co.in"><img src="img/bottom-logo.png"
				class="img-avatar" /></a>
		</span>
	</footer>
	
	<!-- Bootstrap and necessary plugins -->
	<script src="vendors/js/jquery.min.js"></script>
	<script src="vendors/js/popper.min.js"></script>
	<script src="vendors/js/bootstrap.min.js"></script>
	<script src="vendors/js/pace.min.js"></script>
	<script src="jsRocket/bootstrapSpringGrid.js" type="text/javascript"></script>

	<!-- Plugins and scripts required by all views -->
	<script src="vendors/js/Chart.min.js"></script>

	<!-- main scripts -->

	<script src="js/app.js"></script>

	<!-- Plugins and scripts required by this views -->

	<!-- Custom scripts required by this view -->
	<script src="js/views/main.js"></script>
	<script type="text/javascript" src="js/toastr.min.js"></script>
	<script src="js/common.js"></script>

</body>
</html>